/* You can not modify anything in the HTML */
body {
    font-family: 'Poppins';
  background: url(./assets/bg.png);
  background-color: rgba(15, 15, 15, 0.37);
  padding: 0px;
  margin: 0px;
  /* height: 100vh;
  width: 100vw; */

  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgb(0, 0, 0);
  /* background-size: cover; */
}
.navbar {
  display: flex;
}
.navbar img {
  position: absolute;
  top: 12px;
  left: 60px;
  height: 30px;
  margin-top: 15px;
}
.line {
  position: absolute;
  top: 20px;
  left: 200px;
  border-left: 1px solid white;
  height: 45px;
}
.grow-list {
  margin-top: 10;
  margin-left: 190px;
}
.list {
  /* border: 1px solid red; */
  color: aliceblue;
  gap: 10px;
  list-style: none;
  display: flex;
}
li.list-item {
  /* border: 1px solid red; */
  padding: 15px 40px;
}
.list-item:first-child::after {
  content: "\02C5";
  position: relative;
  color: rgb(255, 255, 255);
  top: 2px;
  left: 5px;
  padding: 7px;
}
nav > div button {
  position: absolute;
  right: 150px;
  top: 25px;
}
.button-small {
  padding: 8px 22px;
  background-color: #af79e2;
  color: aliceblue;
  border-radius: 7px;
}
.navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  height: 80px;
  width: 1920px;
  z-index: -1;
  /* opacity: ; */
}
div.hero{
    /* border: 1px solid red; */
    height: 90vh;
    width: 99vw;
}
h1.hero-heading{
    /* border: 1px solid red; */
    padding: 20px;
    color: rgb(252, 252, 252);
    height: 250px;
    width: 800px;
    margin: 150px 600px;
    text-align: center;
    font-size: 60px;
}
/* You can only modify the CSS file */
