/* You can not modify anything in the HTML */
/* You can only modify the CSS file */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #030000;
  overflow: hidden;

}
.container{
  background-image: url(./assets/bg.png);
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: Poppins;
  width: 1440px;
  margin: auto;
  /* background-size: cover; */
}
.navbar-container{
  display: flex;
 
}
.logo{
  margin-left: 100px;
  width: 100px;
}
nav{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #030000;
  height: 90px;
  /* gap: 12em; */
}
.list{
  display: flex;
  color: white;
  gap: 4em;
  
}
.list-item{
display: flex;


}
.line{
  height: 50px;
  width: 1px;
  background-color: aliceblue;
  margin-left: 30px;
  
}
.hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.hero-heading{
  /* border: 1px solid red; */
  font-size: 80px;
  width: 900px;
  color: #e9e4e4;
  text-align: center;
  margin: 0;
}
.hero-description{
  font-size: 30px;
  color: #e9e4e4;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}
.button-large{
  font-size: 30px;
  padding: 17px;
  background-color: #c732ae;
  border: none;
  border-radius: 10px;
  color: #e9e4e4;
  margin-top: 40px;
  cursor: pointer;
}
.grow-list{
  margin-left: 30px;
}
.button-small{
  margin-left: 300px;
  color: #e9e4e4;
  font-size: 17px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #c732ae;
}
.grow-list .list :first-child::after{
  content: "ˇ";
  position: relative;
  font-size: 25px;
  left: 10px;
  top: 3px;
}