@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a0a0a;
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  
}
.container {
  background-color: #0a0a0a;
  /* width: 100vw; */
  /* height: 100vh; */
  max-width: 1440px;
  margin: auto;
}
.hambarger {
}
header {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
}
header img{
  width: 40px;
  margin-left: 70px;
}
nav {
  display: flex;
  gap: 3em;
}

ul {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}
ul li {
  display: flex;
  /* justify-content: center; */
  /* border: 1px solid red; */
  /* margin-right: 20px; */
  margin: auto 30px auto 30px;
}
.btn-primary {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  padding: 17px 50px 17px 50px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(23, 24, 24);
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin-right: 175px;
  /* all: unset; */
}
.btn-primary:hover{
  background-color: rgb(231, 109, 39);
  color: black;
}
.btn-primary a {
  text-decoration: none;
  color: aliceblue;
}



.main{
  /* border: 1px solid red; */
  /* width: 400px; */
  
  height: 100vh;
  position: absolute;
  left: 500px;
  top: -90px;
}
.main-img{
  /* border: 1px solid red; */
  width: 280px;
  
  
 
}
.hero{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  align-items: flex-end;
  /* align-self: flex-end; */

  padding-right: 290px;
}
.text-container{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 500px;
  gap: 30px;

}
.on-ear{
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items:center;
}
.on-ear img{

  width: 390px;
}
.pirmary-heading{
  /* border: 1px solid yellow; */
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: 75px;
  font-weight: 900;
}
.second-heading{
  /* border: 1px solid yellow; */
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 900;

}
.para{
  /* border: 1px solid yellow; */
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffffe0;
}
.hero-text{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* align-self: flex-start; */
  align-items: flex-start;
}
.cart-bag{
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.9em;
  background-color: #1e1e21;
}
.cart-heading{
  color: #6e6e70;
  font-weight: 700;
}
.chart-rate{
  color: #fdfdfd;

}

/* *****************************sliders***********************************  */

.slider{
  /* margin: 25px; */
  /* border: 1px solid red; */
  padding: 25px;
  width: auto; 
}
.clients{
  /* border: 1px solid red; */
   margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.specifications{
  /* border: 1px solid red; */
  padding-top: 90px;
  padding-bottom: 25px;
  font-family: 'Poppins', sans-serif;


}
.spec-img{
  /* border: 1px solid red; */
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
 padding-bottom: 40px;
}
.spec-container{
  display: flex;
  font-family: 'Poppins', sans-serif;
  /* border: 1px solid yellow; */
  justify-content: center;
  gap: 4em;
}

.first-col{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding-left: 25px;
  /* border: 1px solid red; */

  margin-bottom: 25px;
  /* gap: 0.4em; */
}
.first-col img{
  width: 15px;
}



.second-col{
  display: flex;
  flex-direction: column;
   margin-bottom: 25px;
    /* gap: 0.4em; */
}
.second-col img{
  width: 25px;
}
.third-col{
  display: flex;
  flex-direction: column;
   margin-bottom: 21px;
    /* gap: 0.4em; */
}
.third-col img{
  width: 15px;
}

.fourth-col{
  padding-left: 30px;
   display: flex;
  flex-direction: column;
    gap: 0.4em;
     margin-bottom: 25px;
}
.fourth-col img{
  width: 15px;
}
.fourth-col small{
   margin-bottom: 25px;
  width: 150px;
}

.case-logo{
  /* border: 1px solid red; */
  padding: 50px;
  display: flex;
  justify-content: center
}
.caseContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7em;
}
.case-rightText{
  width: 250px;
  display:flex ;
  flex-direction: column;
  align-items: flex-start;
}
.case-btn{
  background-color: #1e1e21;
  color: #fdfdfd;
  gap: 1em;
padding: 9px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.buynow-container{
  background-color: #181a1b;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 950px;
  height: 300px;
  margin: auto;
  border-radius: 10px;
  margin-top: 150px;
  gap: 3em;
}
.leftBuynow{
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}
.buynow-btn{
  background-color: #020202;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  gap: 1em;
  color: white;
  border-radius: 10px;
}
.rightBuynow img{
  width: 310px;
}
.chooseStyle-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
}

.style-logo{
  display: flex;
  padding-top: 150px;
  justify-content: center;
}
.music_cards{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  justify-content: center;
  /* border: 1px solid yellow; */
  width: 90%;
  max-width: 60%;
  

  gap: 5em;
}
.card{
  /* border: 1px solid rgb(0, 255, 21); */
  padding: 5em 6em;
  background-color: #181a1b;
  position: relative;
  border-radius: 10px;
  margin-bottom: 1em;
  cursor: pointer;
  
  
  
  
}
.card_bottom{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.5em 1em;
  

}
 .model p{
  font-size: 0.7rem;
  padding: 0.2rem 0;
  margin: 0;
  font-weight: 700;
}
.model>:nth-child(2){
  color: #505153;
}
.shopingchart{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #020202;
  padding: 0.5em 0.6em;
  border-radius: 10px;
}
.card::before{
  content: "";
  position: absolute;
  background-image: url('./Photos/black.png');
  /* border: 1px solid yellow; */
  width: 100%;
  height: 100%;
  top: -70px;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  z-index: 1;
  
}
.music_cards>.card2::before{
  background-image:url('./Photos/redBlack.png') ;
}
.music_cards>.card3::before{
  background-image: url('./Photos/nightBlack.png');
}
.music_cards>.card4::before{
  background-image: url('./Photos/blue.png');
}
.music_cards>.card5::before{
  background-image: url('./Photos/twilightGray.png');
}









































/* *************mediaQuerios************* */




